[submodule "clamavmirror"]
	path = modules/clamavmirror
	url = https://github.com/akissa/clamavmirror
[submodule "debmirror"]
	path = modules/debmirror
	url = https://salsa.debian.org/debian/debmirror
